form {

    width: 100%;
    overflow: auto;

    fieldset {

        width: 100%;
        border: 0;

        input,
        textarea,
        select {
            position: relative;
            margin: 1em 0;
            padding: .5em;
            font-family: inherit;
            font-size: 1em;
        }

        input {
            line-height: 1em;
        }

        input,
        textarea {
            display: block;
            width: 100%;
        }

        textarea {
            margin: 0 0 1em 0;
            resize: vertical;
            line-height: 1.3em;
            @include prefix('appearance', 'textfield');
        }

    }

}

.button {
    display: inline-block;
    margin: .5em 0;
    padding: .75em 1em;
    font-size: 1em;
    line-height: 1em;
    color: #fff;
    text-decoration: none;
    background-color: $theme-color;
    border: 0;
    border-radius: 1.5em;
    cursor: pointer;
    @include prefix('appearance', 'none');
    @include prefix('font-smoothing', 'antialiased');
}

.button.facebook {
    background-color: $social-color-facebook;
}

.button.google {
    background-color: $social-color-google;
}

.button.twitter {
    background-color: $social-color-twitter;
}

.markdown-editor {

    .markdown-contents,
    .markdown-preview {
        min-height: 150px;
    }

    .markdown-contents {
        margin: 0;
        border: 1px solid #eee;
    }

    .markdown-preview {
        display: none;
        padding: calc(.5em + 1px);
    }

    .markdown-toolbar {
        overflow: auto;
        padding: .75em;
        background-color: #eee;
        border-radius: 0 0 5px 5px;
        text-align: right;
        .icon {
            opacity: .75;
            img {
                margin: 0 0 0 .5em;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

}
