<div class="page-content">

    <div class="inner-wrapper">

        {{#if message}}
        <h1>{{__ message}}</h1>
        {{else}}
        <h1>{{__ 'Page Not Found'}}</h1>
        {{/if}}

    </div>

</div>
