<h1>{{__ 'Create New Post'}}</h1>

<div class="create-new">

    <form action="" method="post">

        <input type="hidden" name="_csrf" value="{{_csrf}}">

        <fieldset>

            <input type="text" name="title" required>

            {{> markdown_editor}}

        </fieldset>

        <button type="submit" class="button">{{__ 'Create New Post'}}</button>

    </form>

</div>
