{{#with post}}

<div class="post-header">

{{> post_header}}

</div>

{{/with}}

<div class="messages">

    {{#each post.messages}}

    {{> post_message}}

    {{/each}}

</div>

{{#if user}}

{{> post_message_form}}

{{else}}

<p>You must <a href="/login/">login</a> to respond to this post.</p>

{{/if}}
