<div class="page-content">

    <div class="inner-wrapper">

        <h1>{{__ 'Create New Post'}}</h1>

        <div class="create-new">

            <form action="" method="post">

                <fieldset>

                    <input type="text" name="title" required>
                    <textarea name="contents" rows="8"></textarea>

                </fieldset>

                <button type="submit" class="button">{{__ 'Create New Post'}}</button>

            </form>

        </div>

    </div>

</div>
