<div class="markdown-editor">

    <textarea name="contents" rows="5" required class="markdown-contents">{{contents}}</textarea>

    <div class="markdown-preview"></div>

    <div class="markdown-toolbar">
        <a href="#toggle" class="icon">{{__ 'Toggle Preview'}}<img src="/images/markdown-mark-solid.svg" width="30"></a>
    </div>

</div>
